In [1]:
import pandas as pd

In [2]:
df_r36_35 = pd.read_excel(r'Ethiopia DTM - SA R36 and R35 Consolidated Dataset_Without South Ethiopia.xlsx')

In [3]:
df_r37 = pd.read_excel(r'Ethiopia DTM - SA R37 Dataset.xlsx')

In [4]:
ki_rs_difference = pd.read_excel(r'Final Population estimate For SA round 37.xlsx')

In [5]:
df_merged= df_r37[['1.1.c.1: Site ID', '2.1.a.1: Total Number of IDP HHs_R37', '2.1.b.7: Total Number of IDP Individuals_R37']].merge(df_r36_35[['1.1.c.1: Site ID','2.1.a.1: Total Number of IDP HHs','2.1.b.7: Total Number of IDP Individuals']], on = '1.1.c.1: Site ID', how='inner')

In [59]:
df_merged.shape

(2421, 5)

In [60]:
df_merged['Difference'] = abs(df_merged['2.1.a.1: Total Number of IDP HHs_x'] - df_merged['2.1.a.1: Total Number of IDP HHs_y'])
df_merged['10% of Column1'] = df_merged['2.1.a.1: Total Number of IDP HHs_x'] * 0.10
df_merged['Within ±10%'] = df_merged['Difference'] > df_merged['10% of Column1']

In [61]:
df_merged['Within ±10%'].value_counts()

Within ±10%
False    1658
True      763
Name: count, dtype: int64

In [62]:
df_merged.to_excel('C:/Users/aadmassie/OneDrive - International Organization for Migration - IOM/Desktop/Individual and age sex segregation/SA/Fmerged_New_3.xlsx')

In [63]:
df_merged = df_merged.merge(df_r37[['1.1.c.1: Site ID','M1515: Have there been new arrivals at the site during last four months?']], how= 'inner', on='1.1.c.1: Site ID')

In [64]:
df_333 = df_merged.merge(ki_rs_difference[['1.1.c.1: Site ID','Difference  between estimated Ind Vs KI individual ', 'Resampled_total_pop']], on='1.1.c.1: Site ID', how='inner')

In [65]:
df_444 = df_333[(df_333['M1515: Have there been new arrivals at the site during last four months?'] == "Yes") & (df_333['Within ±10%']== True)]

In [66]:
df_333['M1515: Have there been new arrivals at the site during last four months?'].value_counts()

M1515: Have there been new arrivals at the site during last four months?
No         1983
Yes         441
Unknown       3
Name: count, dtype: int64

In [67]:
df_333.drop_duplicates(subset= '1.1.c.1: Site ID', inplace=True)

In [68]:
df_333.shape

(2420, 11)

In [69]:
df_333['Difference_ki_DDC'] = abs(df_333['2.1.b.7: Total Number of IDP Individuals_y'] - df_333['Resampled_total_pop'])
df_333['10% of ColumR37'] = df_333['Resampled_total_pop'] * 0.10
df_333['Within ±10R37'] = df_333['Difference_ki_DDC'] < df_333['10% of ColumR37']

In [71]:
df_333['Within ±10R37'].value_counts()

Within ±10R37
True     1566
False     854
Name: count, dtype: int64

In [72]:
df_333

,1.1.c.1: Site ID,2.1.a.1: Total Number of IDP HHs_x,2.1.b.7: Total Number of IDP Individuals_x,2.1.a.1: Total Number of IDP HHs_y,2.1.b.7: Total Number of IDP Individuals_y,Difference,10% of Column1,Within ±10%,M1515: Have there been new arrivals at the site during last four months?,Difference between estimated Ind Vs KI individual,Resampled_total_pop,Difference_ki_DDC,10% of ColumR37,Within ±10R37
0,TG351,1474,5961,1448,7240,26,147.4,False,Yes,688.0,6649,591,664.9,True
1,TG430,369,1811,331,1359,38,36.9,True,Yes,-227.0,1584,225,158.4,False
2,TG391,280,1340,365,1613,85,28.0,True,No,-98.0,1242,371,124.2,False
3,TG385,805,3994,945,4253,140,80.5,True,No,-367.0,3627,626,362.7,False
4,TG372,231,1104,201,639,30,23.1,True,No,-365.0,739,100,73.9,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2422,SO610,180,1050,180,1315,0,18.0,False,No,270.0,1320,5,132.0,True
2423,SO832,75,426,75,527,0,7.5,False,No,106.0,532,5,53.2,True
2424,SO698,150,897,150,977,0,15.0,False,No,84.0,981,4,98.1,True
2425,SO778,108,648,108,681,0,10.8,False,No,38.0,686,5,68.6,True
2426,SO833,121,724,121,781,0,12.1,False,No,62.0,786,5,78.6,True

In [82]:
df_final = df_333[(df_333['M1515: Have there been new arrivals at the site during last four months?'] == "Yes") & (df_333['Within ±10%']==True) & (df_333['Within ±10R37']== True)]

In [83]:
df_final

,1.1.c.1: Site ID,2.1.a.1: Total Number of IDP HHs_x,2.1.b.7: Total Number of IDP Individuals_x,2.1.a.1: Total Number of IDP HHs_y,2.1.b.7: Total Number of IDP Individuals_y,Difference,10% of Column1,Within ±10%,M1515: Have there been new arrivals at the site during last four months?,Difference between estimated Ind Vs KI individual,Resampled_total_pop,Difference_ki_DDC,10% of ColumR37,Within ±10R37
410,TG931,595,2532,354,1770,241,59.5,True,Yes,-911.0,1621,149,162.1,True
2217,TG652,109,199,98,222,11,10.9,True,Yes,41.0,240,18,24.0,True
2243,TG682,775,3353,638,3190,137,77.5,True,Yes,135.0,3488,298,348.8,True
2281,TG428,375,1675,298,1490,77,37.5,True,Yes,-303.0,1372,118,137.2,True