In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt
import matplotlib.pyplot as plt
from scipy import stats
import os
from datetime import datetime, timedelta

In [4]:
df_ind = pd.read_excel(r'Ethiopia_DTM_Site_Assessment_v17__R38.xlsx', sheet_name='_hh_mem_rep')

In [5]:
df_ind.shape

(623129, 32)

In [6]:
# df_ind11.reset_index(inplace= True)
# df_ind11 = df_ind.set_index( '_index', inplace= True)
# df_ind11 = df_ind.drop(index=range(115340, 115361), inplace=True)

In [7]:
# df = df[~((df['parent_index'] == 2) & (df['uuid'] == 'b'))]

In [17]:
df_hh = pd.read_excel(r'Ethiopia DTM - R38_Dataset_.xlsx', sheet_name='Repr Sampling Demo')

In [9]:
# df = df[~((df['parent_index'] == 2) & (df['uuid'] == 'b'))]

In [18]:
df_site = pd.read_excel(r'Ethiopia DTM - R38_Dataset_.xlsx', sheet_name='Sites')

In [11]:
# df = df[~((df['parent_index'] == 2) & (df['uuid'] == 'b'))]

In [123]:
df_site.columns.to_list()

['Form ID',
 'Name of the Person Taking Consent',
 'Verified by',
 'Verification Date',
 'M-1658: Survey Date',
 'Tracking status',
 'M-0489: Survey Round',
 'M-0981: Enumerator Name',
 'M-1470: Enumerator Sex',
 'M-1713: Enumerator Name (2)',
 'M-1714: Enumerator Sex (2)',
 'New/Existing',
 'M-0445: Site ID',
 'M-0448: Site Name',
 '1.1.d.2: Site Alternate Name',
 '1.4.a.2: Is site open?',
 'Site last status',
 'M-0303: Region',
 'Region P-CODE',
 'M-0304: Zone',
 'Zone P-CODE',
 'M-0305: Woreda',
 'Woreda P-CODE',
 'M-0306: Kebele',
 'OCHA Region',
 'OCHA Region P-Code',
 'OCHA Zone',
 'OCHA Zone P-Code',
 'OCHA Woreda',
 'OCHA Woreda P-Code',
 '11f/GPS device input',
 '11f-GPS device input-Latitude',
 '11f-GPS device input-Longitude',
 '11f-GPS device input-Altitude',
 '11f-GPS device input-precision',
 '1.1.f.1: GPS: Longitude',
 '1.1.f.2: GPS: Latitude',
 '1.4.a.1: Site Open Date',
 'S-1835: Site Started',
 'xxxx: Site Re-open Date',
 'xxxx: If reopened, when did it reopen?',
 'M-0329: Reason for displacement',
 'M-0329: If reason for displacement is other, specify',
 'xxxx: Reason for displacement (Not pulled)',
 'xxxx: Other reason for displacement (Not pulled)',
 'M-0337: Site Classification',
 'xxxx: Is the Site Classification changed?',
 'xxxx: Please describe why the Site Classification is changed',
 'M-0337: Site Classification (If changed)',
 'M-0342: Settlement/site type',
 'M-0342: If settlement/site type is other, Please specify',
 'xxxx: Is the Settlement/Site type changed?',
 'xxxx: Please describe why the Settlement/Site type is changed',
 'xxxx: Settlement/site type (If changed)',
 'xxxx: If new settlement/site type is other, Please specify',
 'S2302: If site type is collective center, what type of collective center?',
 'S2302: If the type of collective center is other, Please specify',
 'xxxx: If host community, what is the most common shelter occupancy agreement for IDPs in the host community?',
 '1.1.i.1: Is the site physically accessible by car?',
 'xxxx: If no, select all alternative options of physical accessibility',
 'xxxx: If no, select all alternative options of physical accessibility/Accessible by truck',
 'xxxx: If no, select all alternative options of physical accessibility/Accessible by walking',
 'xxxx: If no, select all alternative options of physical accessibility/Accessible by motorbike',
 'xxxx: If no, select all alternative options of physical accessibility/Accessible by boat',
 'xxxx: If no, select all alternative options of physical accessibility/Unknown',
 'xxxx: If no, select all alternative options of physical accessibility/No answer',
 'xxxx: If no, select all alternative options of physical accessibility/Other mode of transportation',
 'xxxx: If other mode of transportation, please specify',
 'M-0413: Region (Largest IDP group)',
 'Region (Largest IDP group) P-CODE',
 'M-0414: Zone (Largest IDP group)',
 'Zone (Largest IDP group) P-CODE',
 'S-0415: Woreda (Largest IDP group)',
 'Woreda (Largest IDP group) P-CODE',
 'S-0416: Kebele (Largest IDP group)',
 'S-0418: Region (2nd largest IDP group)',
 'Region (2nd largest IDP group) P-CODE',
 'S-0419: Zone (2nd largest IDP group)',
 'Zone (2nd largest IDP group) P-CODE',
 'S-0420: Woreda (2nd largest IDP group)',
 'Woreda (2nd largest IDP group) P-CODE',
 'S-0421: Kebele (2nd largest IDP group)',
 'M-0309: Total Number of IDP HHs',
 'M-0310: Total Number of IDP Individuals',
 '2.1.h.1: Number of Male (0-17 years)',
 '2.1.I.1: Number of Female (0-17 years)',
 'M-2525: Number of Male (18-59 years)',
 'M-2524: Number of Female (18-59 years)',
 'M-2527: Number of Male (60 years and above)',
 'M-2526: Number of Female (60 years and above)',
 '2.1.i.4: Total Number of IDP Female Individuals',
 '2.1.h.4: Total number of IDP Male Individuals',
 '2.1.f.4: Sum of IDPs',
 'Confidence (change this value to select a different level of confidence)',
 'Margin of Error',
 'Probability',
 'Alpha',
 'Sample Size',
 'Sample Size Rounded',
 'Rep_Samp_Total number of Male (0-4)',
 'Rep_Samp_Total number of Female (0-4)',
 'Rep_Samp_Total number of Male (5-14)',
 'Rep_Samp_Total number of Female (5-14)',
 'Rep_Samp_Total number of Male (15-17)',
 'Rep_Samp_Total number of Female (15-17)',
 'Rep_Samp_Total number of Male (18-59)',
 'Rep_Samp_Total number of Female (18-59)',
 'Rep_Samp_Total number of Male (60 plus)',
 'Rep_Samp_Total number of Female (60 plus)',
 '2.1.h.1: Number of Males by age: 0-4 years (rep_samp. coverted based on KI HH)',
 '2.1.h.2: Number of Males by age: 5-14 years (rep_samp. coverted based on KI HH)',
 '2.1.h.3: Number of Males by age: 15-17 years (rep_samp. coverted based on KI HH)',
 '2.1.h.4: Number of Males by age: 18-59 years (rep_samp. coverted based on KI HH)',
 '2.1.h.5: Number of Males by age: 60+ years (rep_samp. coverted based on KI HH)',
 '2.1.i.1: Number of Female by age: 0-4 years (rep_samp. coverted based on KI HH)',
 '2.1.i.2: Number of Female by age: 5-14 years (rep_samp. coverted based on KI HH)',
 '2.1.i.3: Number of Female by age: 15-17 years (rep_samp. coverted based on KI HH)',
 '2.1.i.4: Number of Female by age: 18-59 years (rep_samp. coverted based on KI HH)',
 '2.1.i.5: Number of Female by age: 60+ years (rep_samp. coverted based on KI HH)',
 '2.1.b.2: Total number of IDP Male Individuals (rep_samp. coverted based on KI HH)',
 '2.1.b.3: Total Number of IDP Female Individuals (rep_samp. coverted based on KI HH)',
 'Rep_Samp_Total',
 'Rep_Samp_Total Count',
 'Rep_Samp_Remaining',
 'xxxx: If the IDP population size is found to have changed following the representative sampling exercise, input the new estimated number of IDP households',
 'xxxx: If the IDP population size is found to have changed following the representative sampling exercise, input the new estimated number of IDP individuals',
 'M-1712: Additional Comments / Observations',
 'How many respondents are responded to the questions?',
 '_id',
 '_uuid',
 '_submission_time',
 '_index',
 '__version__',
 '_status',
 '_tags',
 '_notes',
 'Reporting Round',
 'Version']

## Age Calculation From HH roaster

In [124]:
df_ind1 = df_ind

In [125]:
df_ind_average = df_hh.groupby(['_submission__uuid']) ['M-2661 How many people live in your household, including yourself?'].mean()

In [126]:
df_ind_average1 = df_ind_average.reset_index(drop=False)

In [127]:
df_ind_final = df_ind_average1.merge(df_site[['M-0309: Total Number of IDP HHs', 'M-0310: Total Number of IDP Individuals', '_uuid']], 
                                    left_on= '_submission__uuid', right_on ='_uuid', how = 'left')

In [128]:
df_ind1['Age Category']= pd.cut(df_ind1['M-2657 What is the age of HH member ${m2655_ddc_roster_count}?'],bins=[df_ind1['M-2657 What is the age of HH member ${m2655_ddc_roster_count}?'].min() -1, 4, 14, 17, 59, df_ind1['M-2657 What is the age of HH member ${m2655_ddc_roster_count}?'].max()+1], 
           labels= ['0-4', '5-14', '15-17', '18-59', 'Above 59'], right=True)

In [129]:
df_ind1['New Age_Gender'] = df_ind1['M-2660 What is the gender of HH Member ${m2655_ddc_roster_count}?'].str.cat(
    df_ind1['Age Category'], sep= ' ')

In [130]:
df2_ind1 = pd.crosstab(index = df_ind1['_submission__uuid'], 
                 columns=[df_ind1['New Age_Gender'], 
                          df_ind1['Age Category']]).groupby('_submission__uuid').sum()

In [131]:
df2_ind1= pd.crosstab(index = df_ind1['_submission__uuid'], 
                 columns=df_ind1['New Age_Gender'],normalize='index')

In [132]:
df2_ind1

New Age_Gender,Female 0-4,Female 15-17,Female 18-59,Female 5-14,Female Above 59,Male 0-4,Male 15-17,Male 18-59,Male 5-14,Male Above 59
_submission__uuid,,,,,,,,,,
00222df8-664e-4df3-9db6-c17f1e1eb143,0.012195,0.044715,0.178862,0.191057,0.052846,0.024390,0.028455,0.191057,0.239837,0.036585
0025a2f2-462d-4f05-9191-3394ee347299,0.024922,0.043614,0.252336,0.168224,0.000000,0.040498,0.040498,0.205607,0.214953,0.009346
0039b8c6-3196-4b9a-b291-7e5d25a26ece,0.088235,0.066176,0.213235,0.125000,0.007353,0.073529,0.044118,0.220588,0.139706,0.022059
00517989-3d16-4b0f-8b0b-42245fe09843,0.070312,0.074219,0.187500,0.199219,0.042969,0.066406,0.039062,0.128906,0.164062,0.027344
0070e37b-8e01-4775-8b7a-914238873805,0.094170,0.013453,0.273543,0.161435,0.017937,0.098655,0.017937,0.201794,0.085202,0.035874
...,...,...,...,...,...,...,...,...,...,...
ffbbeb24-5391-4530-8c20-f611db4fe9e2,0.102564,0.025641,0.294872,0.179487,0.012821,0.076923,0.012821,0.217949,0.076923,0.000000
ffc12b4e-2b7b-4da9-9b7e-29b914620e63,0.021277,0.000000,0.404255,0.000000,0.021277,0.106383,0.000000,0.446809,0.000000,0.000000
ffd75521-322d-4f95-bba9-fa6f380bf97d,0.059406,0.039604,0.306931,0.287129,0.000000,0.029703,0.014851,0.178218,0.084158,0.000000
ffe00f3d-6bc6-4529-9363-5c45cdc3e8f6,0.015504,0.000000,0.348837,0.162791,0.000000,0.007752,0.000000,0.325581,0.139535,0.000000
fff7cd4d-3162-4744-a293-1636190a08a6,0.122642,0.000000,0.320755,0.103774,0.009434,0.056604,0.009434,0.235849,0.132075,0.009434

In [133]:
df2_ind1['Total_SS_ind'] = df2_ind1[['Female 0-4', 'Female 15-17', 'Female 18-59', 'Female 5-14', 'Female Above 59', 'Male 0-4',
                          'Male 15-17', 'Male 18-59', 'Male 5-14', 'Male Above 59']].sum(axis=1)

In [134]:
df2_ind1.reset_index(drop=False, inplace= True)

In [135]:
df2_ind1

New Age_Gender,_submission__uuid,Female 0-4,Female 15-17,Female 18-59,Female 5-14,Female Above 59,Male 0-4,Male 15-17,Male 18-59,Male 5-14,Male Above 59,Total_SS_ind
0,00222df8-664e-4df3-9db6-c17f1e1eb143,0.012195,0.044715,0.178862,0.191057,0.052846,0.024390,0.028455,0.191057,0.239837,0.036585,1.0
1,0025a2f2-462d-4f05-9191-3394ee347299,0.024922,0.043614,0.252336,0.168224,0.000000,0.040498,0.040498,0.205607,0.214953,0.009346,1.0
2,0039b8c6-3196-4b9a-b291-7e5d25a26ece,0.088235,0.066176,0.213235,0.125000,0.007353,0.073529,0.044118,0.220588,0.139706,0.022059,1.0
3,00517989-3d16-4b0f-8b0b-42245fe09843,0.070312,0.074219,0.187500,0.199219,0.042969,0.066406,0.039062,0.128906,0.164062,0.027344,1.0
4,0070e37b-8e01-4775-8b7a-914238873805,0.094170,0.013453,0.273543,0.161435,0.017937,0.098655,0.017937,0.201794,0.085202,0.035874,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2698,ffbbeb24-5391-4530-8c20-f611db4fe9e2,0.102564,0.025641,0.294872,0.179487,0.012821,0.076923,0.012821,0.217949,0.076923,0.000000,1.0
2699,ffc12b4e-2b7b-4da9-9b7e-29b914620e63,0.021277,0.000000,0.404255,0.000000,0.021277,0.106383,0.000000,0.446809,0.000000,0.000000,1.0
2700,ffd75521-322d-4f95-bba9-fa6f380bf97d,0.059406,0.039604,0.306931,0.287129,0.000000,0.029703,0.014851,0.178218,0.084158,0.000000,1.0
2701,ffe00f3d-6bc6-4529-9363-5c45cdc3e8f6,0.015504,0.000000,0.348837,0.162791,0.000000,0.007752,0.000000,0.325581,0.139535,0.000000,1.0
2702,fff7cd4d-3162-4744-a293-1636190a08a6,0.122642,0.000000,0.320755,0.103774,0.009434,0.056604,0.009434,0.235849,0.132075,0.009434,1.0

In [136]:
df_merged_avhh = df2_ind1.merge(df_ind_final, on='_submission__uuid', how='left')

In [137]:
df_merged_avhh = df_merged_avhh.drop_duplicates(subset='_submission__uuid')

In [138]:
df_merged_avhh.columns

Index(['_submission__uuid', 'Female 0-4', 'Female 15-17', 'Female 18-59',
       'Female 5-14', 'Female Above 59', 'Male 0-4', 'Male 15-17',
       'Male 18-59', 'Male 5-14', 'Male Above 59', 'Total_SS_ind',
       'M-2661 How many people live in your household, including yourself?',
       'M-0309: Total Number of IDP HHs',
       'M-0310: Total Number of IDP Individuals', '_uuid'],
      dtype='object')

In [139]:
# df_merged_avhh['Estimated TP'] = (df_merged_avhh['M-0309: Total Number of IDP HHs'] * 
#                                   df_merged_avhh['M-2661 How many people live in your household, including yourself?']).round(0)

In [140]:
df_merged_avhh

,_submission__uuid,Female 0-4,Female 15-17,Female 18-59,Female 5-14,Female Above 59,Male 0-4,Male 15-17,Male 18-59,Male 5-14,Male Above 59,Total_SS_ind,"M-2661 How many people live in your household, including yourself?",M-0309: Total Number of IDP HHs,M-0310: Total Number of IDP Individuals,_uuid
0,00222df8-664e-4df3-9db6-c17f1e1eb143,0.012195,0.044715,0.178862,0.191057,0.052846,0.024390,0.028455,0.191057,0.239837,0.036585,1.0,6.000000,71,426,00222df8-664e-4df3-9db6-c17f1e1eb143
1,0025a2f2-462d-4f05-9191-3394ee347299,0.024922,0.043614,0.252336,0.168224,0.000000,0.040498,0.040498,0.205607,0.214953,0.009346,1.0,4.938462,198,1067,0025a2f2-462d-4f05-9191-3394ee347299
2,0039b8c6-3196-4b9a-b291-7e5d25a26ece,0.088235,0.066176,0.213235,0.125000,0.007353,0.073529,0.044118,0.220588,0.139706,0.022059,1.0,4.689655,42,187,0039b8c6-3196-4b9a-b291-7e5d25a26ece
3,00517989-3d16-4b0f-8b0b-42245fe09843,0.070312,0.074219,0.187500,0.199219,0.042969,0.066406,0.039062,0.128906,0.164062,0.027344,1.0,5.818182,82,484,00517989-3d16-4b0f-8b0b-42245fe09843
4,0070e37b-8e01-4775-8b7a-914238873805,0.094170,0.013453,0.273543,0.161435,0.017937,0.098655,0.017937,0.201794,0.085202,0.035874,1.0,6.027027,60,360,0070e37b-8e01-4775-8b7a-914238873805
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2698,ffbbeb24-5391-4530-8c20-f611db4fe9e2,0.102564,0.025641,0.294872,0.179487,0.012821,0.076923,0.012821,0.217949,0.076923,0.000000,1.0,3.120000,33,83,ffbbeb24-5391-4530-8c20-f611db4fe9e2
2699,ffc12b4e-2b7b-4da9-9b7e-29b914620e63,0.021277,0.000000,0.404255,0.000000,0.021277,0.106383,0.000000,0.446809,0.000000,0.000000,1.0,1.880000,33,60,ffc12b4e-2b7b-4da9-9b7e-29b914620e63
2700,ffd75521-322d-4f95-bba9-fa6f380bf97d,0.059406,0.039604,0.306931,0.287129,0.000000,0.029703,0.014851,0.178218,0.084158,0.000000,1.0,3.311475,162,535,ffd75521-322d-4f95-bba9-fa6f380bf97d
2701,ffe00f3d-6bc6-4529-9363-5c45cdc3e8f6,0.015504,0.000000,0.348837,0.162791,0.000000,0.007752,0.000000,0.325581,0.139535,0.000000,1.0,2.388889,123,294,ffe00f3d-6bc6-4529-9363-5c45cdc3e8f6
2702,fff7cd4d-3162-4744-a293-1636190a08a6,0.122642,0.000000,0.320755,0.103774,0.009434,0.056604,0.009434,0.235849,0.132075,0.009434,1.0,2.944444,56,171,fff7cd4d-3162-4744-a293-1636190a08a6

In [141]:
df_droped=df_merged_avhh.copy()
df_droped['RS_Total_population'] = (df_droped['M-0309: Total Number of IDP HHs'] * 
                                  df_droped['M-2661 How many people live in your household, including yourself?']).round(0)

In [142]:
df_droped.columns.to_list()

['_submission__uuid',
 'Female 0-4',
 'Female 15-17',
 'Female 18-59',
 'Female 5-14',
 'Female Above 59',
 'Male 0-4',
 'Male 15-17',
 'Male 18-59',
 'Male 5-14',
 'Male Above 59',
 'Total_SS_ind',
 'M-2661 How many people live in your household, including yourself?',
 'M-0309: Total Number of IDP HHs',
 'M-0310: Total Number of IDP Individuals',
 '_uuid',
 'RS_Total_population']

In [143]:
def multiply_by_sum(df_droped, columns):
    result_df = df_droped.copy()
    for col in columns:
        sum_col = df_droped['RS_Total_population']
        result_df[f'{col}_converted'] = (df_droped[col] * sum_col).round(0)
    
    return result_df
columns_to_multiply = df_droped[['Female 0-4', 'Female 15-17', 'Female 18-59', 'Female 5-14', 'Female Above 59', 'Male 0-4', 'Male 15-17',
                                 'Male 18-59',  'Male 5-14', 'Male Above 59']]
result_df = multiply_by_sum(df_droped, columns_to_multiply)

In [144]:
result_df.columns

Index(['_submission__uuid', 'Female 0-4', 'Female 15-17', 'Female 18-59',
       'Female 5-14', 'Female Above 59', 'Male 0-4', 'Male 15-17',
       'Male 18-59', 'Male 5-14', 'Male Above 59', 'Total_SS_ind',
       'M-2661 How many people live in your household, including yourself?',
       'M-0309: Total Number of IDP HHs',
       'M-0310: Total Number of IDP Individuals', '_uuid',
       'RS_Total_population', 'Female 0-4_converted', 'Female 15-17_converted',
       'Female 18-59_converted', 'Female 5-14_converted',
       'Female Above 59_converted', 'Male 0-4_converted',
       'Male 15-17_converted', 'Male 18-59_converted', 'Male 5-14_converted',
       'Male Above 59_converted'],
      dtype='object')

In [145]:
result_df['total_sum_before_normalization'] = result_df[['Female 0-4_converted', 'Female 15-17_converted', 'Female 18-59_converted', 'Female 5-14_converted', 'Female Above 59_converted',
                                                         'Male 0-4_converted',  'Male 15-17_converted', 'Male 18-59_converted', 'Male 5-14_converted',
                                                         'Male Above 59_converted']].sum(axis=1)

In [146]:
result_df['diff'] = result_df['total_sum_before_normalization'] - result_df['RS_Total_population']

In [147]:
result_df

,_submission__uuid,Female 0-4,Female 15-17,Female 18-59,Female 5-14,Female Above 59,Male 0-4,Male 15-17,Male 18-59,Male 5-14,...,Female 18-59_converted,Female 5-14_converted,Female Above 59_converted,Male 0-4_converted,Male 15-17_converted,Male 18-59_converted,Male 5-14_converted,Male Above 59_converted,total_sum_before_normalization,diff
0,00222df8-664e-4df3-9db6-c17f1e1eb143,0.012195,0.044715,0.178862,0.191057,0.052846,0.024390,0.028455,0.191057,0.239837,...,76.0,81.0,23.0,10.0,12.0,81.0,102.0,16.0,425.0,-1.0
1,0025a2f2-462d-4f05-9191-3394ee347299,0.024922,0.043614,0.252336,0.168224,0.000000,0.040498,0.040498,0.205607,0.214953,...,247.0,165.0,0.0,40.0,40.0,201.0,210.0,9.0,979.0,1.0
2,0039b8c6-3196-4b9a-b291-7e5d25a26ece,0.088235,0.066176,0.213235,0.125000,0.007353,0.073529,0.044118,0.220588,0.139706,...,42.0,25.0,1.0,14.0,9.0,43.0,28.0,4.0,196.0,-1.0
3,00517989-3d16-4b0f-8b0b-42245fe09843,0.070312,0.074219,0.187500,0.199219,0.042969,0.066406,0.039062,0.128906,0.164062,...,89.0,95.0,20.0,32.0,19.0,61.0,78.0,13.0,476.0,-1.0
4,0070e37b-8e01-4775-8b7a-914238873805,0.094170,0.013453,0.273543,0.161435,0.017937,0.098655,0.017937,0.201794,0.085202,...,99.0,58.0,6.0,36.0,6.0,73.0,31.0,13.0,361.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2698,ffbbeb24-5391-4530-8c20-f611db4fe9e2,0.102564,0.025641,0.294872,0.179487,0.012821,0.076923,0.012821,0.217949,0.076923,...,30.0,18.0,1.0,8.0,1.0,22.0,8.0,0.0,102.0,-1.0
2699,ffc12b4e-2b7b-4da9-9b7e-29b914620e63,0.021277,0.000000,0.404255,0.000000,0.021277,0.106383,0.000000,0.446809,0.000000,...,25.0,0.0,1.0,7.0,0.0,28.0,0.0,0.0,62.0,0.0
2700,ffd75521-322d-4f95-bba9-fa6f380bf97d,0.059406,0.039604,0.306931,0.287129,0.000000,0.029703,0.014851,0.178218,0.084158,...,165.0,154.0,0.0,16.0,8.0,96.0,45.0,0.0,537.0,1.0
2701,ffe00f3d-6bc6-4529-9363-5c45cdc3e8f6,0.015504,0.000000,0.348837,0.162791,0.000000,0.007752,0.000000,0.325581,0.139535,...,103.0,48.0,0.0,2.0,0.0,96.0,41.0,0.0,295.0,1.0
2702,fff7cd4d-3162-4744-a293-1636190a08a6,0.122642,0.000000,0.320755,0.103774,0.009434,0.056604,0.009434,0.235849,0.132075,...,53.0,17.0,2.0,9.0,2.0,39.0,22.0,2.0,166.0,1.0

In [148]:
result_df.to_excel('Representative Sampling Before normalization.xlsx')

In [149]:
def adjust_age_categories(df, age_cols, diff_col):
  
    def adjust_row(row):
        diff = row[diff_col]
        
        # Ensure the operation checks for non-zero float values
        non_zero_age_cols = [col for col in age_cols if row[col] != 0.0]

        if diff in [-1, -2, -3]:
            n = int(-diff)  # Cast diff to integer
            # Get the indices of the n smallest non-zero values
            min_indices = row[non_zero_age_cols].nsmallest(n).index
            row[min_indices] += 1.0  # Increment by 1.0 to ensure float operation
        elif diff in [1, 2, 3]:
            n = int(diff)  # Cast diff to integer
            # Get the indices of the n largest non-zero values
            max_indices = row[non_zero_age_cols].nlargest(n).index
            row[max_indices] -= 1.0  # Decrement by 1.0 to ensure float operation
        
        return row

    # Apply the adjustment row-wise
    df = df.apply(adjust_row, axis=1)
    return df
    
df = pd.read_excel(r'Representative Sampling Before normalization.xlsx',
    usecols=['Female 0-4_converted', 'Female 15-17_converted', 'Female 18-59_converted', 'Female 5-14_converted', 'Female Above 59_converted',
                                                         'Male 0-4_converted',  'Male 15-17_converted', 'Male 18-59_converted', 'Male 5-14_converted',
                                                         'Male Above 59_converted','diff', '_submission__uuid','diff'],
    index_col='_submission__uuid'
)

adjusted_df = adjust_age_categories(df, ['Female 0-4_converted', 'Female 15-17_converted', 'Female 18-59_converted', 'Female 5-14_converted', 'Female Above 59_converted',
                                                         'Male 0-4_converted',  'Male 15-17_converted', 'Male 18-59_converted', 'Male 5-14_converted',
                                                         'Male Above 59_converted'], 'diff')

In [150]:
adjusted_df

,Female 0-4_converted,Female 15-17_converted,Female 18-59_converted,Female 5-14_converted,Female Above 59_converted,Male 0-4_converted,Male 15-17_converted,Male 18-59_converted,Male 5-14_converted,Male Above 59_converted,diff
_submission__uuid,,,,,,,,,,,
00222df8-664e-4df3-9db6-c17f1e1eb143,6,19,76,81,23,10,12,81,102,16,-1
0025a2f2-462d-4f05-9191-3394ee347299,24,43,246,165,0,40,40,201,210,9,1
0039b8c6-3196-4b9a-b291-7e5d25a26ece,17,13,42,25,2,14,9,43,28,4,-1
00517989-3d16-4b0f-8b0b-42245fe09843,34,35,89,95,20,32,19,61,78,14,-1
0070e37b-8e01-4775-8b7a-914238873805,34,6,99,58,6,36,6,73,31,13,-1
...,...,...,...,...,...,...,...,...,...,...,...
ffbbeb24-5391-4530-8c20-f611db4fe9e2,11,3,30,18,2,8,1,22,8,0,-1
ffc12b4e-2b7b-4da9-9b7e-29b914620e63,1,0,25,0,1,7,0,28,0,0,0
ffd75521-322d-4f95-bba9-fa6f380bf97d,32,21,164,154,0,16,8,96,45,0,1
ffe00f3d-6bc6-4529-9363-5c45cdc3e8f6,5,0,102,48,0,2,0,96,41,0,1
fff7cd4d-3162-4744-a293-1636190a08a6,20,0,52,17,2,9,2,39,22,2,1

In [151]:
adjusted_df['Sum After Normalization'] = adjusted_df[['Female 0-4_converted', 'Female 15-17_converted', 'Female 18-59_converted', 'Female 5-14_converted', 'Female Above 59_converted',
                                                         'Male 0-4_converted',  'Male 15-17_converted', 'Male 18-59_converted', 'Male 5-14_converted',
                                                         'Male Above 59_converted']].sum(axis=1)

In [152]:
final_after_normalization = adjusted_df.merge(df_droped[['M-0309: Total Number of IDP HHs', 'M-0310: Total Number of IDP Individuals', '_submission__uuid']],
                                             on='_submission__uuid', how='left')

In [153]:
final_after_normalization1 = df_site[['M-0981: Enumerator Name', 'M-1713: Enumerator Name (2)',  'New/Existing', 'M-0445: Site ID', 'M-0448: Site Name',
                                      '1.1.d.2: Site Alternate Name', '1.4.a.2: Is site open?', 'Site last status', 'M-0303: Region', 'Region P-CODE', 'M-0304: Zone',
                                      'Zone P-CODE', 'M-0305: Woreda', 'Woreda P-CODE', 'M-0306: Kebele', 'OCHA Region', 'OCHA Region P-Code', 'OCHA Zone', 'OCHA Zone P-Code',
                                      'OCHA Woreda', 'OCHA Woreda P-Code', '_uuid']].merge(final_after_normalization, 
                                                                                           right_on = '_submission__uuid', left_on = '_uuid', how= 'left')
final_after_normalization1.shape

(2703, 37)

In [154]:
final_after_normalization = final_after_normalization1

In [155]:
final_after_normalization.to_excel(r'Population estimate_ After Normalisation_SA_R38.xlsx')

###### Reason Of Displacement

In [156]:
final_after_normalization

,M-0981: Enumerator Name,M-1713: Enumerator Name (2),New/Existing,M-0445: Site ID,M-0448: Site Name,1.1.d.2: Site Alternate Name,1.4.a.2: Is site open?,Site last status,M-0303: Region,Region P-CODE,...,Female Above 59_converted,Male 0-4_converted,Male 15-17_converted,Male 18-59_converted,Male 5-14_converted,Male Above 59_converted,diff,Sum After Normalization,M-0309: Total Number of IDP HHs,M-0310: Total Number of IDP Individuals
0,Daniel Abraham,Genet Kahsay,Existing,TG625,Midre Genet Elders Care Center,NaN,Yes,Open,Tigray,NaN,...,0,2,18,4,93,4,0,332,95,396
1,Genet Kahsay,Daniel Abreham,Existing,TG451,Mekelle Health Center,NaN,Yes,Open,Tigray,NaN,...,15,8,21,104,106,4,0,559,106,545
2,Birhane Kalayu,Semira Teklay,Existing,TG376,Awash,NaN,Yes,Open,Tigray,NaN,...,42,36,66,376,221,42,0,1458,478,2103
3,Birhane Kalayu,Teklu Kidanu,Existing,TG377,Ketena 06,NaN,Yes,Open,Tigray,NaN,...,13,7,17,196,114,20,2,708,227,987
4,Birhane Kalayu,Teklu Kidanu,Existing,TG452,Hadnet General Secondary School,NaN,Yes,Open,Tigray,NaN,...,124,74,248,1564,1142,199,0,7175,2284,11163
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2698,Dagnew Weldemariam,Tirhas Kibreab,Existing,TG666,Adergeto,NaN,Yes,Open,Tigray,NaN,...,0,16,2,92,54,0,0,320,96,344
2699,Dagnew Weldemariam,Tirhas Kibreab,Existing,TG653,Maikeyahat,NaN,Yes,Open,Tigray,NaN,...,0,5,0,37,11,2,2,119,51,195
2700,Dagnew Weldemariam,Tirhas Kibreab,Existing,TG707,Maiweini,NaN,Yes,Open,Tigray,NaN,...,3,10,2,39,18,0,2,150,59,152
2701,Dagnew Weldemariam,Tirhas Kibreab,Existing,TG313,Yeha,NaN,Yes,Open,Tigray,NaN,...,0,37,15,81,75,0,0,385,106,423
2702,Bahriw Abeje,Nebiyu Alemayehu,Existing,AM302,Dabat 02,NaN,Yes,Open,Amhara,NaN,...,2,25,15,67,71,2,1,412,104,388

In [157]:
df_hh.columns.to_list()

['Form ID',
 '1.1.c.1: Site ID',
 '1.1.d.1: Site Name',
 '1.1.e.1: Region',
 '1.1.e.2: Zone',
 '1.1.e.3: Woreda',
 'Do you consent to participate in this survey?',
 'Is your household Internally Displaced (IDPs)?',
 'M-2661 How many people live in your household, including yourself?',
 'initial_sum',
 'M-2666 When did you leave your place of origin? (Year of displacement (month and year))',
 'M-2667 When did you arrive in this location? (Year of arrival (month and year))',
 'M-2668 Did your household come straight from your place of origin to this current location of displacement?',
 'M-2662 What is the [admin 1] of origin of your household?',
 'M-2663 What is the [admin 2] of origin of your household?',
 'M-2671 What is the primary reason that triggered your household’s displacement?',
 'If reason for displacement is other, please specify',
 'Would you prefer to locally integrate in your current location, return to your place of origin or move to a third location?',
 'S-1841 Do you currently have a shelter to stay in that is protected from the weather elements (rain, wind, cold, etc)?',
 'Do your household members feel safe going outside of your shelter to perform daily activities?',
 'Is the amount of water your household can access sufficient for drinking, cooking and the most basic hygiene needs?',
 'Are health services able to meet your household members’ health needs?',
 '_id',
 '_submission__uuid',
 '_submission_time',
 '_index',
 '_parent_table_name',
 '_parent_index',
 '_tags',
 '_notes',
 'diff',
 'hours',
 'year_int',
 'diff_bin']

In [158]:
reason = pd.crosstab(index= df_hh['_submission__uuid'], 
                    columns=df_hh['M-2671 What is the primary reason that triggered your household’s displacement?'], 
                    values=df_hh['M-2671 What is the primary reason that triggered your household’s displacement?'],
                    aggfunc='count', normalize='index'
                   )

In [159]:
reason1 = reason.reset_index(drop =False)

In [160]:
df_ind_final

,_submission__uuid,"M-2661 How many people live in your household, including yourself?",M-0309: Total Number of IDP HHs,M-0310: Total Number of IDP Individuals,_uuid
0,00222df8-664e-4df3-9db6-c17f1e1eb143,6.000000,71,426,00222df8-664e-4df3-9db6-c17f1e1eb143
1,0025a2f2-462d-4f05-9191-3394ee347299,4.938462,198,1067,0025a2f2-462d-4f05-9191-3394ee347299
2,0039b8c6-3196-4b9a-b291-7e5d25a26ece,4.689655,42,187,0039b8c6-3196-4b9a-b291-7e5d25a26ece
3,00517989-3d16-4b0f-8b0b-42245fe09843,5.818182,82,484,00517989-3d16-4b0f-8b0b-42245fe09843
4,0070e37b-8e01-4775-8b7a-914238873805,6.027027,60,360,0070e37b-8e01-4775-8b7a-914238873805
...,...,...,...,...,...
2698,ffbbeb24-5391-4530-8c20-f611db4fe9e2,3.120000,33,83,ffbbeb24-5391-4530-8c20-f611db4fe9e2
2699,ffc12b4e-2b7b-4da9-9b7e-29b914620e63,1.880000,33,60,ffc12b4e-2b7b-4da9-9b7e-29b914620e63
2700,ffd75521-322d-4f95-bba9-fa6f380bf97d,3.311475,162,535,ffd75521-322d-4f95-bba9-fa6f380bf97d
2701,ffe00f3d-6bc6-4529-9363-5c45cdc3e8f6,2.388889,123,294,ffe00f3d-6bc6-4529-9363-5c45cdc3e8f6
2702,fff7cd4d-3162-4744-a293-1636190a08a6,2.944444,56,171,fff7cd4d-3162-4744-a293-1636190a08a6

In [161]:
reason_attached = reason1.merge(final_after_normalization[['Sum After Normalization','_submission__uuid' ]], 
                                on='_submission__uuid', how='left')

In [162]:
reason_attached.columns

Index(['_submission__uuid', 'Conflict', 'Drought', 'Fire', 'Flood',
       'Landslide', 'Other', 'Social tension', 'Sum After Normalization'],
      dtype='object')

In [163]:
df_droped=reason_attached.copy()

In [164]:
def multiply_by_sum(df_droped, columns):
    result_df = df_droped.copy()
    for col in columns:
        sum_col = df_droped['Sum After Normalization']
        result_df[f'{col}_converted'] = (df_droped[col] * sum_col).round(0)
    
    return result_df
columns_to_multiply = df_droped[['Conflict', 'Drought', 'Fire', 'Flood','Landslide', 'Other', 'Social tension']]
result_df = multiply_by_sum(df_droped, columns_to_multiply)

In [165]:
result_df.columns

Index(['_submission__uuid', 'Conflict', 'Drought', 'Fire', 'Flood',
       'Landslide', 'Other', 'Social tension', 'Sum After Normalization',
       'Conflict_converted', 'Drought_converted', 'Fire_converted',
       'Flood_converted', 'Landslide_converted', 'Other_converted',
       'Social tension_converted'],
      dtype='object')

In [166]:
result_df['total_sum_before_normalization'] = result_df[['Conflict_converted', 'Drought_converted', 'Fire_converted',
                                                         'Flood_converted', 'Landslide_converted', 'Other_converted',
                                                         'Social tension_converted']].sum(axis=1)

In [167]:
result_df

,_submission__uuid,Conflict,Drought,Fire,Flood,Landslide,Other,Social tension,Sum After Normalization,Conflict_converted,Drought_converted,Fire_converted,Flood_converted,Landslide_converted,Other_converted,Social tension_converted,total_sum_before_normalization
0,00222df8-664e-4df3-9db6-c17f1e1eb143,0.000000,1.0,0.0,0.000000,0.0,0.0,0.000000,426,0.0,426.0,0.0,0.0,0.0,0.0,0.0,426.0
1,0025a2f2-462d-4f05-9191-3394ee347299,1.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,978,978.0,0.0,0.0,0.0,0.0,0.0,0.0,978.0
2,0039b8c6-3196-4b9a-b291-7e5d25a26ece,0.965517,0.0,0.0,0.034483,0.0,0.0,0.000000,197,190.0,0.0,0.0,7.0,0.0,0.0,0.0,197.0
3,00517989-3d16-4b0f-8b0b-42245fe09843,0.000000,1.0,0.0,0.000000,0.0,0.0,0.000000,477,0.0,477.0,0.0,0.0,0.0,0.0,0.0,477.0
4,0070e37b-8e01-4775-8b7a-914238873805,0.000000,1.0,0.0,0.000000,0.0,0.0,0.000000,362,0.0,362.0,0.0,0.0,0.0,0.0,0.0,362.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2698,ffbbeb24-5391-4530-8c20-f611db4fe9e2,1.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,103,103.0,0.0,0.0,0.0,0.0,0.0,0.0,103.0
2699,ffc12b4e-2b7b-4da9-9b7e-29b914620e63,1.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,62,62.0,0.0,0.0,0.0,0.0,0.0,0.0,62.0
2700,ffd75521-322d-4f95-bba9-fa6f380bf97d,1.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,536,536.0,0.0,0.0,0.0,0.0,0.0,0.0,536.0
2701,ffe00f3d-6bc6-4529-9363-5c45cdc3e8f6,0.944444,0.0,0.0,0.000000,0.0,0.0,0.055556,294,278.0,0.0,0.0,0.0,0.0,0.0,16.0,294.0
2702,fff7cd4d-3162-4744-a293-1636190a08a6,1.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,165,165.0,0.0,0.0,0.0,0.0,0.0,0.0,165.0

In [168]:
result_df['diff'] = result_df['total_sum_before_normalization'] - result_df['Sum After Normalization']

In [169]:
result_df['diff'].value_counts()

diff
 0.0    2689
-1.0       8
 1.0       6
Name: count, dtype: int64

In [170]:
result_df.to_excel('Reason of Displacement Before normalization.xlsx')

In [171]:
def adjust_age_categories(df, age_cols, diff_col):
  
    def adjust_row(row):
        diff = row[diff_col]
        
        # Ensure the operation checks for non-zero float values
        non_zero_age_cols = [col for col in age_cols if row[col] != 0.0]

        if diff in [-1, -2, -3]:
            n = int(-diff)  # Cast diff to integer
            # Get the indices of the n smallest non-zero values
            min_indices = row[non_zero_age_cols].nsmallest(n).index
            row[min_indices] += 1.0  # Increment by 1.0 to ensure float operation
        elif diff in [1, 2, 3]:
            n = int(diff)  # Cast diff to integer
            # Get the indices of the n largest non-zero values
            max_indices = row[non_zero_age_cols].nlargest(n).index
            row[max_indices] -= 1.0  # Decrement by 1.0 to ensure float operation
        
        return row

    # Apply the adjustment row-wise
    df = df.apply(adjust_row, axis=1)
    return df
    
df = pd.read_excel(r'reason of Displacement Before normalization.xlsx',
    usecols=['Conflict_converted', 'Drought_converted', 'Fire_converted',
                                                         'Flood_converted', 'Landslide_converted', 'Other_converted',
                                                         'Social tension_converted','_submission__uuid','diff','Sum After Normalization' ],
    index_col='_submission__uuid'
)

adjusted_df = adjust_age_categories(df, ['Conflict_converted', 'Drought_converted', 'Fire_converted',
                                         'Flood_converted', 'Landslide_converted', 'Other_converted',
                                         'Social tension_converted'], 'diff')

In [172]:
# adjusted_df['Sum After Normalization'].sum()

In [173]:
final_after_normalization1 = df_site[['M-0981: Enumerator Name', 'M-1713: Enumerator Name (2)',  'New/Existing', 'M-0445: Site ID', 'M-0448: Site Name',
                                      '1.1.d.2: Site Alternate Name', '1.4.a.2: Is site open?', 'Site last status', 'M-0303: Region', 'Region P-CODE', 'M-0304: Zone',
                                      'Zone P-CODE', 'M-0305: Woreda', 'Woreda P-CODE', 'M-0306: Kebele', 'OCHA Region', 'OCHA Region P-Code', 'OCHA Zone', 'OCHA Zone P-Code',
                                      'OCHA Woreda', 'OCHA Woreda P-Code', '_uuid']].merge(adjusted_df, 
                                                                                           right_on = '_submission__uuid', 
                                                                                           left_on = '_uuid', 
                                                                                           how= 'left')
final_after_normalization1.shape

(2703, 31)

In [174]:
adjusted_df = final_after_normalization1

In [175]:
adjusted_df.to_excel(r'Reason for Displacement After Normalization.xlsx')

In [176]:
No_value_reason = df_hh[df_hh['_submission__uuid']== 'c34f9355-4de7-4b56-88d3-ee5b06637a49']

In [177]:
No_value_reason['M-2671 What is the primary reason that triggered your household’s displacement?']

Series([], Name: M-2671 What is the primary reason that triggered your household’s displacement?, dtype: object)

####### Length Of Displacement

In [178]:
df_hh.columns

Index(['Form ID', '1.1.c.1: Site ID', '1.1.d.1: Site Name', '1.1.e.1: Region',
       '1.1.e.2: Zone', '1.1.e.3: Woreda',
       'Do you consent to participate in this survey?',
       'Is your household Internally Displaced (IDPs)?',
       'M-2661 How many people live in your household, including yourself?',
       'initial_sum',
       'M-2666 When did you leave your place of origin? (Year of displacement (month and year))',
       'M-2667 When did you arrive in this location? (Year of arrival (month and year))',
       'M-2668 Did your household come straight from your place of origin to this current location of displacement?',
       'M-2662 What is the [admin 1] of origin of your household?',
       'M-2663 What is the [admin 2] of origin of your household?',
       'M-2671 What is the primary reason that triggered your household’s displacement?',
       'If reason for displacement is other, please specify',
       'Would you prefer to locally integrate in your current location, return to your place of origin or move to a third location?',
       'S-1841 Do you currently have a shelter to stay in that is protected from the weather elements (rain, wind, cold, etc)?',
       'Do your household members feel safe going outside of your shelter to perform daily activities?',
       'Is the amount of water your household can access sufficient for drinking, cooking and the most basic hygiene needs?',
       'Are health services able to meet your household members’ health needs?',
       '_id', '_submission__uuid', '_submission_time', '_index',
       '_parent_table_name', '_parent_index', '_tags', '_notes', 'diff',
       'hours', 'year_int', 'diff_bin'],
      dtype='object')

In [179]:
#df_hh['Would you prefer to locally integrate in your current location, return to your place of origin or move to a third location?'].value_counts()

In [180]:
df_hh1 = df_hh

In [181]:
df_hh1.columns

Index(['Form ID', '1.1.c.1: Site ID', '1.1.d.1: Site Name', '1.1.e.1: Region',
       '1.1.e.2: Zone', '1.1.e.3: Woreda',
       'Do you consent to participate in this survey?',
       'Is your household Internally Displaced (IDPs)?',
       'M-2661 How many people live in your household, including yourself?',
       'initial_sum',
       'M-2666 When did you leave your place of origin? (Year of displacement (month and year))',
       'M-2667 When did you arrive in this location? (Year of arrival (month and year))',
       'M-2668 Did your household come straight from your place of origin to this current location of displacement?',
       'M-2662 What is the [admin 1] of origin of your household?',
       'M-2663 What is the [admin 2] of origin of your household?',
       'M-2671 What is the primary reason that triggered your household’s displacement?',
       'If reason for displacement is other, please specify',
       'Would you prefer to locally integrate in your current location, return to your place of origin or move to a third location?',
       'S-1841 Do you currently have a shelter to stay in that is protected from the weather elements (rain, wind, cold, etc)?',
       'Do your household members feel safe going outside of your shelter to perform daily activities?',
       'Is the amount of water your household can access sufficient for drinking, cooking and the most basic hygiene needs?',
       'Are health services able to meet your household members’ health needs?',
       '_id', '_submission__uuid', '_submission_time', '_index',
       '_parent_table_name', '_parent_index', '_tags', '_notes', 'diff',
       'hours', 'year_int', 'diff_bin'],
      dtype='object')

In [182]:
# df_hh['diff'] = (df_1['M-2666 When did you leave your place of origin? (Year of displacement (month and year))']  - 
#                  df_1['M-2667 When did you arrive in this location? (Year of arrival (month and year))'])

In [183]:
df_hh1.dropna(subset= 'M-2667 When did you arrive in this location? (Year of arrival (month and year))', inplace=True)

In [184]:
df_hh1.shape

(131952, 34)

In [185]:
# df_hh1['diff'] = pd.to_datetime('31-12-2024') - pd.to_datetime(df_hh1['M-2667 When did you arrive in this location? (Year of arrival (month and year))'])

In [186]:
df_hh1['diff'] = pd.to_datetime('31-12-2024', dayfirst=True) - pd.to_datetime(df_hh1['M-2667 When did you arrive in this location? (Year of arrival (month and year))'], dayfirst=True)
df_hh1['diff'] = df_hh1['diff'].fillna(pd.Timedelta(0))  # Fill NaN values with 0 timedelta
df_hh1['hours'] = (df_hh1['diff'] / pd.Timedelta(hours=1)).astype(int)

In [187]:
df_hh1['year_int'] = (df_hh1['hours']/ (24 * 365))

In [188]:
df_hh1["year_int"].describe()

count    131952.000000
mean          4.318405
std           2.800515
min           0.082192
25%           2.504110
50%           4.000000
75%           5.589041
max          25.854795
Name: year_int, dtype: float64

In [189]:
df_hh1['diff_bin'] = pd.cut(df_hh1['year_int'], 
                          bins=[df_hh1['year_int'].min() - 1, 1.4, 2.4, 4.4, df_hh1['year_int'].max() + 1], 
                          labels=['Number of IDP (individuals) - Up to 1 year ago', 
                                  'Number of IDP (individuals) - 1-2 years ago',
                                  'Number of IDP (individuals) - 3-4 years ago',
                                  'Number of IDP (individuals) - 5 or more years ago'], 
                          right=True)

In [190]:
df_length = pd.crosstab(df_hh1['_submission__uuid'], df_hh1['diff_bin'], normalize='index')

In [191]:
df_hh1['diff_bin'].value_counts()

diff_bin
Number of IDP (individuals) - 3-4 years ago          59835
Number of IDP (individuals) - 5 or more years ago    41570
Number of IDP (individuals) - 1-2 years ago          17460
Number of IDP (individuals) - Up to 1 year ago       13087
Name: count, dtype: int64

In [192]:
df_length

diff_bin,Number of IDP (individuals) - Up to 1 year ago,Number of IDP (individuals) - 1-2 years ago,Number of IDP (individuals) - 3-4 years ago,Number of IDP (individuals) - 5 or more years ago
_submission__uuid,,,,
00222df8-664e-4df3-9db6-c17f1e1eb143,0.0,0.000000,0.048780,0.951220
0025a2f2-462d-4f05-9191-3394ee347299,0.0,0.030769,0.969231,0.000000
0039b8c6-3196-4b9a-b291-7e5d25a26ece,0.0,0.000000,0.931034,0.068966
00517989-3d16-4b0f-8b0b-42245fe09843,0.0,0.045455,0.954545,0.000000
0070e37b-8e01-4775-8b7a-914238873805,0.0,0.351351,0.648649,0.000000
...,...,...,...,...
ffbbeb24-5391-4530-8c20-f611db4fe9e2,0.0,0.000000,0.000000,1.000000
ffc12b4e-2b7b-4da9-9b7e-29b914620e63,0.0,0.000000,0.000000,1.000000
ffd75521-322d-4f95-bba9-fa6f380bf97d,0.0,0.000000,1.000000,0.000000
ffe00f3d-6bc6-4529-9363-5c45cdc3e8f6,0.0,0.092593,0.907407,0.000000
fff7cd4d-3162-4744-a293-1636190a08a6,0.0,0.000000,0.111111,0.888889

In [193]:
df_length.reset_index(drop=False, inplace =True)

In [194]:
df_length = df_length.drop_duplicates(subset='_submission__uuid')

In [195]:
df_length.shape

(2703, 5)

In [196]:
site_level_length = df_length.merge(final_after_normalization[['Sum After Normalization', '_submission__uuid']], how='left', on= '_submission__uuid')

In [197]:
site_level_length

,_submission__uuid,Number of IDP (individuals) - Up to 1 year ago,Number of IDP (individuals) - 1-2 years ago,Number of IDP (individuals) - 3-4 years ago,Number of IDP (individuals) - 5 or more years ago,Sum After Normalization
0,00222df8-664e-4df3-9db6-c17f1e1eb143,0.0,0.000000,0.048780,0.951220,426
1,0025a2f2-462d-4f05-9191-3394ee347299,0.0,0.030769,0.969231,0.000000,978
2,0039b8c6-3196-4b9a-b291-7e5d25a26ece,0.0,0.000000,0.931034,0.068966,197
3,00517989-3d16-4b0f-8b0b-42245fe09843,0.0,0.045455,0.954545,0.000000,477
4,0070e37b-8e01-4775-8b7a-914238873805,0.0,0.351351,0.648649,0.000000,362
...,...,...,...,...,...,...
2698,ffbbeb24-5391-4530-8c20-f611db4fe9e2,0.0,0.000000,0.000000,1.000000,103
2699,ffc12b4e-2b7b-4da9-9b7e-29b914620e63,0.0,0.000000,0.000000,1.000000,62
2700,ffd75521-322d-4f95-bba9-fa6f380bf97d,0.0,0.000000,1.000000,0.000000,536
2701,ffe00f3d-6bc6-4529-9363-5c45cdc3e8f6,0.0,0.092593,0.907407,0.000000,294
2702,fff7cd4d-3162-4744-a293-1636190a08a6,0.0,0.000000,0.111111,0.888889,165

In [198]:
df_droped=site_level_length.copy()

In [199]:
def multiply_by_sum(df_droped, columns):
    result_df = df_droped.copy()
    for col in columns:
        sum_col = df_droped['Sum After Normalization']
        result_df[f'{col}_multiplied'] = (df_droped[col] * sum_col).round(0)
    
    return result_df
columns_to_multiply = df_droped[['Number of IDP (individuals) - Up to 1 year ago', 
                                  'Number of IDP (individuals) - 1-2 years ago',
                                  'Number of IDP (individuals) - 3-4 years ago',
                                  'Number of IDP (individuals) - 5 or more years ago']]
result_df = multiply_by_sum(df_droped, columns_to_multiply)

In [200]:
result_df.drop_duplicates(subset='_submission__uuid', inplace =True)

In [201]:
result_df['estim_sum']= result_df[['Number of IDP (individuals) - Up to 1 year ago_multiplied', 
                                   'Number of IDP (individuals) - 1-2 years ago_multiplied',
                                   'Number of IDP (individuals) - 3-4 years ago_multiplied',
                                   'Number of IDP (individuals) - 5 or more years ago_multiplied']].sum(axis=1)

In [202]:
result_df['diff'] =  result_df['estim_sum'] - result_df['Sum After Normalization']

In [203]:
result_df.columns

Index(['_submission__uuid', 'Number of IDP (individuals) - Up to 1 year ago',
       'Number of IDP (individuals) - 1-2 years ago',
       'Number of IDP (individuals) - 3-4 years ago',
       'Number of IDP (individuals) - 5 or more years ago',
       'Sum After Normalization',
       'Number of IDP (individuals) - Up to 1 year ago_multiplied',
       'Number of IDP (individuals) - 1-2 years ago_multiplied',
       'Number of IDP (individuals) - 3-4 years ago_multiplied',
       'Number of IDP (individuals) - 5 or more years ago_multiplied',
       'estim_sum', 'diff'],
      dtype='object')

In [204]:
result_df.to_excel('Length of displacement Before Normalization.xlsx', index=False)

In [205]:
def adjust_age_categories(df, age_cols, diff_col):
  
    def adjust_row(row):
        diff = row[diff_col]
        
        # Ensure the operation checks for non-zero float values
        non_zero_age_cols = [col for col in age_cols if row[col] != 0.0]

        if diff in [-1, -2, -3]:
            n = int(-diff)  # Cast diff to integer
            # Get the indices of the n smallest non-zero values
            min_indices = row[non_zero_age_cols].nsmallest(n).index
            row[min_indices] += 1.0  # Increment by 1.0 to ensure float operation
        elif diff in [1, 2, 3]:
            n = int(diff)  # Cast diff to integer
            # Get the indices of the n largest non-zero values
            max_indices = row[non_zero_age_cols].nlargest(n).index
            row[max_indices] -= 1.0  # Decrement by 1.0 to ensure float operation
        
        return row

    # Apply the adjustment row-wise
    df = df.apply(adjust_row, axis=1)
    return df
    
df = pd.read_excel(r'Length of displacement Before Normalization.xlsx',sheet_name='Sheet1',
    usecols=['Number of IDP (individuals) - Up to 1 year ago_multiplied', 
             'Number of IDP (individuals) - 1-2 years ago_multiplied',
             'Number of IDP (individuals) - 3-4 years ago_multiplied',
             'Number of IDP (individuals) - 5 or more years ago_multiplied','_submission__uuid','diff','Sum After Normalization'], index_col = '_submission__uuid')

adjusted_df = adjust_age_categories(df, ['Number of IDP (individuals) - Up to 1 year ago_multiplied', 
                                         'Number of IDP (individuals) - 1-2 years ago_multiplied',
                                         'Number of IDP (individuals) - 3-4 years ago_multiplied',
                                         'Number of IDP (individuals) - 5 or more years ago_multiplied'], 'diff')

In [206]:
adjusted_df [['Number of IDP (individuals) - Up to 1 year ago_multiplied', 
                                         'Number of IDP (individuals) - 1-2 years ago_multiplied',
                                         'Number of IDP (individuals) - 3-4 years ago_multiplied',
                                         'Number of IDP (individuals) - 5 or more years ago_multiplied']].sum()

Number of IDP (individuals) - Up to 1 year ago_multiplied        241784
Number of IDP (individuals) - 1-2 years ago_multiplied           329842
Number of IDP (individuals) - 3-4 years ago_multiplied          1117634
Number of IDP (individuals) - 5 or more years ago_multiplied     876912
dtype: int64

In [207]:
final_after_normalization1 = df_site[['M-0981: Enumerator Name', 'M-1713: Enumerator Name (2)',  'New/Existing', 'M-0445: Site ID', 'M-0448: Site Name',
                                      '1.1.d.2: Site Alternate Name', '1.4.a.2: Is site open?', 'Site last status', 'M-0303: Region', 'Region P-CODE', 'M-0304: Zone',
                                      'Zone P-CODE', 'M-0305: Woreda', 'Woreda P-CODE', 'M-0306: Kebele', 'OCHA Region', 'OCHA Region P-Code', 'OCHA Zone', 'OCHA Zone P-Code',
                                      'OCHA Woreda', 'OCHA Woreda P-Code', '_uuid']].merge(adjusted_df, 
                                                                                           right_on = '_submission__uuid', 
                                                                                           left_on = '_uuid', 
                                                                                           how= 'left')
final_after_normalization1.shape

(2703, 28)

In [208]:
adjusted_df = final_after_normalization1

In [209]:
adjusted_df.to_excel('Length of Displacement After Normalization.xlsx')

##### Durable Solutions

In [210]:
df_hh2 = df_hh

In [211]:
df_hh2['Would you prefer to locally integrate in your current location, return to your place of origin or move to a third location?'].value_counts(dropna=False)

Would you prefer to locally integrate in your current location, return to your place of origin or move to a third location?
Return to our place of origin                                                                68707
Locally integrate in our current location (stay and build a life in the current location)    57468
Move to a third location                                                                      5777
Name: count, dtype: int64

In [212]:
df_hh2.dropna(subset= ['Would you prefer to locally integrate in your current location, return to your place of origin or move to a third location?'], inplace=True)

In [213]:
df_hh2['Would you prefer to locally integrate in your current location, return to your place of origin or move to a third location?'].value_counts(dropna=False)

Would you prefer to locally integrate in your current location, return to your place of origin or move to a third location?
Return to our place of origin                                                                68707
Locally integrate in our current location (stay and build a life in the current location)    57468
Move to a third location                                                                      5777
Name: count, dtype: int64

In [214]:
df_hh2.columns

Index(['Form ID', '1.1.c.1: Site ID', '1.1.d.1: Site Name', '1.1.e.1: Region',
       '1.1.e.2: Zone', '1.1.e.3: Woreda',
       'Do you consent to participate in this survey?',
       'Is your household Internally Displaced (IDPs)?',
       'M-2661 How many people live in your household, including yourself?',
       'initial_sum',
       'M-2666 When did you leave your place of origin? (Year of displacement (month and year))',
       'M-2667 When did you arrive in this location? (Year of arrival (month and year))',
       'M-2668 Did your household come straight from your place of origin to this current location of displacement?',
       'M-2662 What is the [admin 1] of origin of your household?',
       'M-2663 What is the [admin 2] of origin of your household?',
       'M-2671 What is the primary reason that triggered your household’s displacement?',
       'If reason for displacement is other, please specify',
       'Would you prefer to locally integrate in your current location, return to your place of origin or move to a third location?',
       'S-1841 Do you currently have a shelter to stay in that is protected from the weather elements (rain, wind, cold, etc)?',
       'Do your household members feel safe going outside of your shelter to perform daily activities?',
       'Is the amount of water your household can access sufficient for drinking, cooking and the most basic hygiene needs?',
       'Are health services able to meet your household members’ health needs?',
       '_id', '_submission__uuid', '_submission_time', '_index',
       '_parent_table_name', '_parent_index', '_tags', '_notes', 'diff',
       'hours', 'year_int', 'diff_bin'],
      dtype='object')

In [215]:
durable = pd.crosstab(index=df_hh2['_submission__uuid'], 
                      columns=df_hh2['Would you prefer to locally integrate in your current location, return to your place of origin or move to a third location?'], 
                      values=df_hh2['Would you prefer to locally integrate in your current location, return to your place of origin or move to a third location?'], 
                      aggfunc='count', normalize = 'index')
durable.shape

(2703, 3)

In [216]:
durable.reset_index(drop=False, inplace=True)

In [217]:
# durable_sol.columns

In [218]:
durable_sol = durable.merge(final_after_normalization[['Sum After Normalization', '_submission__uuid']], how='left', on= '_submission__uuid')

In [219]:
df_droped=durable_sol.copy()

In [220]:
def multiply_by_sum(df_droped, columns):
    result_df = df_droped.copy()
    for col in columns:
        sum_col = df_droped['Sum After Normalization']
        result_df[f'{col}_multiplied'] = (df_droped[col] * sum_col).round(0)
    
    return result_df
columns_to_multiply = df_droped[['Locally integrate in our current location (stay and build a life in the current location)',
       'Move to a third location', 'Return to our place of origin']]
result_df = multiply_by_sum(df_droped, columns_to_multiply)

In [221]:
result_df['estim_sum']= result_df[['Locally integrate in our current location (stay and build a life in the current location)_multiplied',
       'Move to a third location_multiplied', 'Return to our place of origin_multiplied']].sum(axis=1)

In [222]:
result_df['diff'] =  result_df['estim_sum'] - result_df['Sum After Normalization']

In [223]:
result_df['diff'].value_counts()

diff
 0.0    2616
 1.0      44
-1.0      43
Name: count, dtype: int64

In [224]:
result_df.to_excel('Durable solution Before Normalization.xlsx', index=False)

In [225]:
def adjust_age_categories(df, age_cols, diff_col):
  
    def adjust_row(row):
        diff = row[diff_col]
        
        # Ensure the operation checks for non-zero float values
        non_zero_age_cols = [col for col in age_cols if row[col] != 0.0]

        if diff in [-1, -2, -3]:
            n = int(-diff)  # Cast diff to integer
            # Get the indices of the n smallest non-zero values
            min_indices = row[non_zero_age_cols].nsmallest(n).index
            row[min_indices] += 1.0  # Increment by 1.0 to ensure float operation
        elif diff in [1, 2, 3]:
            n = int(diff)  # Cast diff to integer
            # Get the indices of the n largest non-zero values
            max_indices = row[non_zero_age_cols].nlargest(n).index
            row[max_indices] -= 1.0  # Decrement by 1.0 to ensure float operation
        
        return row

    # Apply the adjustment row-wise
    df = df.apply(adjust_row, axis=1)
    return df
    
df = pd.read_excel(r'Durable solution Before Normalization.xlsx',sheet_name='Sheet1',
    usecols=['Locally integrate in our current location (stay and build a life in the current location)_multiplied',
             'Move to a third location_multiplied', 'Return to our place of origin_multiplied',
             '_submission__uuid','diff','Sum After Normalization'], index_col = '_submission__uuid')

adjusted_df = adjust_age_categories(df, ['Locally integrate in our current location (stay and build a life in the current location)_multiplied',
                                         'Move to a third location_multiplied', 
                                         'Return to our place of origin_multiplied'], 'diff')

In [226]:
adjusted_df [['Locally integrate in our current location (stay and build a life in the current location)_multiplied',
              'Move to a third location_multiplied', 
              'Return to our place of origin_multiplied']].sum()

Locally integrate in our current location (stay and build a life in the current location)_multiplied    1119779
Move to a third location_multiplied                                                                       91611
Return to our place of origin_multiplied                                                                1354782
dtype: int64

In [227]:
final_after_normalization1 = df_site[['M-0981: Enumerator Name', 'M-1713: Enumerator Name (2)',  'New/Existing', 'M-0445: Site ID', 'M-0448: Site Name',
                                      '1.1.d.2: Site Alternate Name', '1.4.a.2: Is site open?', 'Site last status', 'M-0303: Region', 'Region P-CODE', 'M-0304: Zone',
                                      'Zone P-CODE', 'M-0305: Woreda', 'Woreda P-CODE', 'M-0306: Kebele', 'OCHA Region', 'OCHA Region P-Code', 'OCHA Zone', 'OCHA Zone P-Code',
                                      'OCHA Woreda', 'OCHA Woreda P-Code', '_uuid']].merge(adjusted_df, 
                                                                                           right_on = '_submission__uuid', 
                                                                                           left_on = '_uuid', 
                                                                                           how= 'left')
final_after_normalization1.shape

(2703, 27)

In [228]:
adjusted_df = final_after_normalization1

In [229]:
adjusted_df.to_excel('Durable Solutions After Normalization.xlsx')

2574986